<!DOCTYPE html>
<html>
<head>
  <title>IMDb Clone</title>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster' => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap Core CSS -->
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-heroic-features/css/heroic-features.css" rel="stylesheet">
  
</head>
<body>

<%= yield %>

</body>
</html>
